
.promptParentDiv {
    position: relative;
    text-align: center;
    user-select: none;
}

.clickToPlay {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    font-weight: bold;
}

.blury {
    filter: blur(5px);
}

.correctChar {
    color: white;
}

.wrongChar {
    color: #cf362edc;
}

.caret {
    border-radius: 2px;
    height: 1.2em;
    width: .1em;
    position: absolute;
    background: wheat;
    display: inline;

    opacity: 1;
    animation: fade 1s infinite;
    animation-timing-function: ease;
}

@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

li {
    padding-top: 5px;
}

.warningIndicator {
    opacity: 1;
    animation: fade 800ms infinite;
    animation-timing-function: ease;
}
